version: "3.9"

services:
  api-mongo:
    image: ghcr.io/hallboard-team/dotnet-v${DOTNET_VERSION:-10.0}:latest
    container_name: ${CONTAINER_NAME:-template}-api_MONGO-v${MONGO_VERSION:-7}-dev

    working_dir: /workspaces/app

    volumes:
      - ../../:/workspaces/app:Z
      - ${HOME}/.cache/vscode-server-shared:/home/vscode/.vscode-server-shared:Z

    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://0.0.0.0:5000

      VSCODE_SERVER_DIR: /home/vscode/.vscode-server-shared

      # MongoDB connection URI
      ConnectionStrings__Default: "mongodb://root:${DB_PASSWORD:-template_backend_password}@mongo:27017/${DB_NAME:-template_backend_db}?authSource=admin&replicaSet=rs0&retryWrites=true&w=majority"

    ports:
      - "${API_PORT:-5000}:5000"

    depends_on:
      mongo:
        condition: service_healthy

    command: >
      bash -c "
        dotnet --info &&
        sleep infinity
      "

  mongo:
    image: ghcr.io/hallboard-team/tools:mongo-${MONGO_VERSION:-7.0}
    container_name: ${CONTAINER_NAME:-template}_db_MONGO-v${MONGO_VERSION:-7}

    working_dir: /workspaces/app

    command:
      - mongod
      - --bind_ip_all
      - --replSet
      - rs0

    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER:-template_backend_user}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD:-template_backend_password}
      MONGO_INITDB_DATABASE: ${DB_NAME:-template_backend_db}
      VSCODE_SERVER_DIR: /home/vscode/.vscode-server-shared

    ports:
      - "${DB_HOST_PORT:-27018}:27017"

    volumes:
      - ../../:/workspaces/app:Z
      - ${HOME}/.cache/vscode-server-shared:/home/vscode/.vscode-server-shared:Z
      - mongodata:/data/db:Z
      - ../../.devcontainer/mongo/init:/docker-entrypoint-initdb.d:ro

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mongosh --username ${DB_USER:-template_backend_user} --password ${DB_PASSWORD:-template_backend_password} --authenticationDatabase admin --eval 'db.runCommand({ ping: 1 })' || exit 1"
        ]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  mongodata:
